@charset "utf-8";

body {
  font-family: 'Hiragino Kaku Gothic Pro', 'Noto Sans JP', Meiryo, 'MS Gothic', sans-serif;
	font-size: 3.95vw;
}

ul,ol {
	margin: 0;
	padding: 0;
	list-style: none;
}
h1,h2,h3,h4,h5,h6,li,dl,dt,dd,figure {
	margin: 0;
	padding: 0;
}
img {
	max-width: 100%;
	vertical-align: bottom;
}
a {
	text-decoration: none;
}

.entry_open {
	overflow: hidden;
}

#bg_video {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	object-fit: cover;
}
.outline_wrap {
	position: relative;
	z-index: 1;
	background: rgba(255,255,255,1);
}

.outline_wrap .h1_wrap {
	position: relative;
	width: 100%;
	height: 200vw;
	box-sizing: border-box;
	padding: 0 0 10vh;
}
.outline_wrap h1 {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 20vw;
	left: 0;
	width: 12em;
	height: 6.6em;
	margin: auto;
	font-size: 3.95vw;
	color: #fff;
	text-align: center;
}
.outline_wrap .logo {
	display: block;
	width: 100%;
	margin: 0 0 2em;
}
.outline_wrap #scSales {
	position: absolute;
	top: 115vw;
	left: 0;
	right: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 0.2em;
	width: 4.5em;
	height: 4.5em;
	padding: 0.3em 0 0;
	margin: 0 auto;
	color: #fff;
	font-size: 70.6%;
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 50%;
	background: rgba(255,255,255,0.3);
	box-sizing: border-box;
	box-shadow: 0 0 1em rgba(0,0,0,0.3);
	opacity: 0.7;
}
.outline_wrap section#sales {
	padding: 1.8em 5%;
}
.outline_wrap section em {
	display: block;
	width: 90vw;
	margin-bottom: 0.2em;
	font-size: 258.8%;
	color: #1c4587;
	font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
	line-height: 1.1;
}
.outline_wrap section h2 {
	width: 90vw;
	font-size: 188.2%;
	margin-bottom: 0.9em;
	color: #1c4587;
	/*font-family: "Poppins", sans-serif;*/
	line-height: 1.25;
  font-weight: 600;
  font-style: normal;
	/*font-size: 88.2%;*/
}
.outline_wrap section#player em,
.outline_wrap section#player h2,
.outline_wrap section#life em,
.outline_wrap section#life h2,
.outline_wrap section#contact em,
.outline_wrap section#contact h2 {
	color: #cce0ff;
}
.outline_wrap section p {
	width: 90vw;
	margin: 0 0 1em;
	line-height: 1.6;
	letter-spacing: 0.05em;
	overflow: hidden;
	transition: width 1.3s cubic-bezier(0.5, 1, 0.89, 1);
}
.outline_wrap section#player p,
.outline_wrap section#life p,
.outline_wrap section#contact p,
.outline_wrap section#life .video_cap {
	color: #fff;
}
.outline_wrap section p b {
	display: inline-block;
	margin: 0 0.2em;
	font-size: 117.6%;
}
.outline_wrap section .video_cap {
	margin: 1.5em 0 0.5em;
  font-size: 3.49vw;
}
.outline_wrap section#sales #video {
	position: relative;
	display: block;
	width: 90vw;
}
.outline_wrap section#sales #video i {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	width: 1em;
	height: 1em;
	font-size: 600%;
	color: #fff;
	line-height: 1;
	z-index: 1;
	opacity: 0.8;
  text-shadow: 0 0 0.12em rgba(0,0,0,0.7);
}

.outline_wrap section#player {
	background: linear-gradient(93deg,  #1a1a1f 0%,#3d3d66 80%);
	padding: 1.8em 5% 0;
	/*border-radius: 2em 2em 0 0;*/
	overflow: hidden;
}
.outline_wrap section#player .large_image,
.outline_wrap section#fine .large_image {
	display: block;
	width: 100vw;
  max-width: 100vw;
	margin: 1.8em 0 0;
}

.outline_wrap section#fine {
	padding: 1.8em 5% 0;
}
.outline_wrap section#life {
	background: linear-gradient(93deg,  #1a1a1f 0%,#3d3d66 80%);
	padding: 1.8em 5%;
	/*border-radius: 2em;*/
}
.outline_wrap section#life #video2,
.outline_wrap section#workplace #video3 {
	position: relative;
	display: block;
	width: 90vw;
}
.outline_wrap section#life #video2 i,
.outline_wrap section#workplace #video3 i {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	width: 1em;
	height: 1em;
	font-size: 600%;
	color: #fff;
	line-height: 1;
	z-index: 1;
	opacity: 0.8;
  text-shadow: 0 0 0.12em rgba(0,0,0,0.7);
}
.outline_wrap section#workplace {
	padding: 1.8em 5%;
}
.outline_wrap section#workplace .large_image {
	display: block;
	margin: 0;
}
.outline_wrap section#summary {
	padding: 1.8em 5% 0.9em;
}
.outline_wrap section#summary h2 {
	position: relative;
	width: 100%;
	padding: 0.616em 1em;
	margin: 0;
	font-size: 116.7%;
	font-weight: 600;
	color: #fff;
	text-align: left;
	background: linear-gradient(to right, #29cece 20%,#2aa5d6 100%);
	cursor: pointer;
	border-radius: 0.5em;
	box-sizing: border-box;
}
.outline_wrap section#summary h2 i {
	position: absolute;
	top: 0;
	right: 1em;
	bottom: 0;
	height: 0.8em;
	margin: auto 0;
	transform-origin: 50% 43%;
}
.outline_wrap section#summary.open h2 i {
	transform: rotate(180deg);
}
.outline_wrap section#summary .toggle_box,
.outline_wrap section#flow .toggle_box2 {
	height: 0;
	overflow: hidden;
	box-sizing: border-box;
	transition: height 0.8s ease-in-out;
}
.outline_wrap section#summary table {
	display: block;
	margin: 1.667em 0 0;
}
.outline_wrap section#summary table tr {
	display: block;
}
.outline_wrap section#summary table tr th {
	display: block;
	padding: 0.537em 0;
	background: linear-gradient(to right, #1a1a1f 0%, #3d3d66 80%);
	color: #fff;
	text-align: center;
	font-weight: 600;
}
.outline_wrap section#summary table tr td {
	display: block;
	padding: 0.945em 0.945em 1.5em;
	line-height: 1.33;
}
.outline_wrap section#summary table tr td ul.circle {
	
}
.outline_wrap section#summary table tr td ul.circle li {
	position: relative;
	margin-top: 1em;
	padding-left: 1.25em;
}
.outline_wrap section#summary table tr td ul.circle li::before {
	content: "●";
	position: absolute;
	top: 0;
	left: 0;
}
.outline_wrap section#summary table tr td dl {
	padding: 0.945em 0.778em;
	margin-top: 1.389em;
	border: 2px solid #d2e9f7;
}
.outline_wrap section#summary table tr td dl dt {
	padding: 0.778em 0.889em;
	background: #d2e9f7;
}
.outline_wrap section#summary table tr td dl dt span {
	display: inline-block;
	padding-left: 1em;
	font-size: 83.4%;
	text-indent: -1em;
}
.outline_wrap section#summary table tr td dl dd {
	padding: 0.5em 0 0;
}
.outline_wrap section#summary table tr td dl dd p {
	margin: 0;
}
.outline_wrap section#summary table tr td dl dd p:not(:last-child) {
	margin-bottom: 1em;
}
.outline_wrap section#summary table tr td span.kome {
	font-size: 83.4%;
	margin-left: 1em;
	letter-spacing: -0.03em;
}
.outline_wrap section#flow {
	padding: 0 5% 0.9em;
}
.outline_wrap section#flow h2 {
	position: relative;
	width: 100%;
	padding: 0.616em 1em;
	margin: 0;
	font-size: 116.7%;
	font-weight: 600;
	color: #fff;
	text-align: left;
	background: linear-gradient(to right, #29cece 0%,#2aa5d6 100%);
	cursor: pointer;
	border-radius: 0.5em;
	box-sizing: border-box;
}
.outline_wrap section#flow h2 i {
	position: absolute;
	top: 0;
	right: 1em;
	bottom: 0;
	height: 0.8em;
	margin: auto 0;
	transform-origin: 50% 43%;
}
.outline_wrap section#flow.open h2 i {
	transform: rotate(180deg);
}

.link_button {
	position: relative;
  display: block;
  margin: 0 5% 1.8em;
	padding: 0.616em 1em;
	font-size: 116.7%;
	font-weight: 600;
	color: #fff;
	text-align: left;
	background: linear-gradient(to right, #29cece 0%,#2aa5d6 100%);
	cursor: pointer;
	border-radius: 0.5em;
	box-sizing: border-box;
}
.link_button i {
	position: absolute;
	top: 0;
	right: 1.15em;
	bottom: 0;
	height: 0.8em;
	margin: auto 0;
	transform-origin: 50% 43%;
}

.slider {
	padding: 1.112em 0 2.223em;
	overflow: hidden;
}
.slider li {
	padding: 0 3.08vw;
}
.slider li img {
	width: 100%;
}
.slider .slick-arrow {
	position: absolute;
	top: 30vw;
	display: flex !important;
	justify-content: center;
	align-items: center;
	background: rgba(28,69,135,0.5);
	border-radius: 50%;
	width: 23.256vw;
	height: 23.256vw;
	font-size: 233.4%;
	color: #fff;
	box-sizing: border-box;
	z-index: 10;
	cursor: pointer;
}
.slider .slick-arrow.slick-prev {
	left: -9.3vw;
	padding-left: 0.8em;
}
.slider .slick-arrow.slick-next {
	right: -9.3vw;
	padding-right: 0.8em;
}
.slider .slick-arrow.slick-disabled {
	display: none !important;
}
.slider li dl {
	
}
.slider li dl dt {
	padding: 1em 3.256vw 0.5em;
	color: #1c4587;
	font-size: 111.2%;
	font-weight: 600;
}
.slider li dl dd {
	padding: 0 2.4vw 0 3.256vw;
}
.outline_wrap section#contact {
	background: linear-gradient(93deg,  #1a1a1f 0%,#3d3d66 80%);
	padding: 1.8em 5% 25vw;
	/*border-radius: 2em 2em 0 0;*/
}
.outline_wrap section#contact p.tel {
	margin: -0.75em 0 0.2em;
}
.outline_wrap section#contact p.tel b {
	font-size: 200%;
	margin: 0;
}
.outline_wrap section .viewElem {
	position: relative;
	width: 0;
	overflow: hidden;
	transition: width 1.5s cubic-bezier(0.5, 1, 0.89, 1);
}
.outline_wrap section .viewElem.visible {
	width: 100%;
}
.outline_wrap section .viewElem::after {
	content: "";
	display: none;
	position: absolute;
	bottom: 1em;
	left: 0;
	width: 100%;
	height: 4px;
	background: #1c4587;
	transition: opacity 1.5s cubic-bezier(0.65, 0, 0.35, 1);
}
.outline_wrap section .viewElem.visible::after {
	opacity: 0;
}
.outline_wrap section .viewElemVideo {
	position: relative;
	top: 1.5em;
	opacity: 0;
	transition: all 1.5s cubic-bezier(0.5, 1, 0.89, 1);
}
.outline_wrap section .viewElemImg {
	position: relative;
	top: 1.5em;
	margin: 0 -5vw;
	opacity: 0;
	transition: all 1.5s cubic-bezier(0.5, 1, 0.89, 1);
}
.outline_wrap section .viewElemVideo.visible,
.outline_wrap section .viewElemImg.visible {
	top: 0;
	opacity: 1;
}

/* aタグ専用スタイルリセット */
.viewElem a {
    all: unset; /* すべてのスタイルをリセット */
    text-decoration: none; /* 下線を削除 */
    color: inherit; /* 親要素から色を継承 */
}

/* 必要なスタイルを再追加 */
.viewElem a {
    cursor: pointer; /* ポインタカーソル */
}

.viewElem a:hover {
    text-decoration: underline; /* ホバー時の下線 */
}

#fixed_btn {
	position: fixed;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 23vw;
	box-sizing: border-box;
	z-index: 100;
/*
	border-top: 1px solid #fff;
	background: rgba(255,255,255,0.7);
*/
}
#fixed_btn a {
	display: block;
	width: 9.2em;
	padding: 0.616em 0;
	font-size: 116.7%;
	font-weight: 600;
	color: #fff;
	text-align: center;
	background: #ff8c00;
	border-radius: 3em;
	box-shadow: 0 1px 6px rgba(0,0,0,0.5);
}

@media screen and (max-width: 860px) {
  .none_sp {
    display: none;
  }
}

@media screen and (min-width: 861px) {
  .none_pc {
    display: none;
  }
	body {
		background: #eee;
		font-size: 36px;
	}
	#bg_video {
		width: 860px;
		height: 100vh;
		margin: 0 auto;
        right: 0;
        left: 0;
	}
	.outline_wrap {
		position: relative;
		width: 860px;
		margin: 0 auto;
	}
	.outline_wrap .h1_wrap {
		height: 100vh;
	}
	.outline_wrap h1 {
		font-size: 34px;
		bottom: 172px;
	}
.outline_wrap h1 {
}
	.outline_wrap section h2 {
		width: 774px;
	}
	.outline_wrap #scSales {
		top: 65vh;
	}
	.outline_wrap section#sales #video,
	.outline_wrap section#life #video2,
	.outline_wrap section#workplace #video3 {
		width: 774px;
	}
	.outline_wrap section#player .large_image,
	.outline_wrap section#fine .large_image {
		width: 860px;
	}
	.outline_wrap section .viewElemImg {
		margin: 0 -43px;
	}
	.slider .slick-arrow {
		top: 258px;
		width: 200px;
		height: 200px;
	}
	.slider .slick-arrow.slick-prev {
		left: -80px;
	}
	.slider .slick-arrow.slick-next {
		right: -80px;
	}
	.slider li {
		padding: 0 26.5px;
	}
	.slider li dl dt {
		padding: 1em 28px 0.5em;
	}
	.slider li dl dd {
		padding: 0 20.6px 0 28px;
	}
	.outline_wrap section#contact {
		padding-bottom: 215px;
	}
	#fixed_btn {
		width: 860px;
		height: 198px;
	}
}