<div class="table_wrap input-container">
    <p>ご紹介いただくお客様の情報を教えてください</p>
    <table cellpadding="0" cellspacing="0">
      <tr>
        <th>会社名<br>またはお名前のみ</th>
        <td>
          <input type="text" name="company" value="鈴木鉄工所">
        </td>
      </tr>
      <tr>
        <th>お名前 <span class="required-mark">※必須</span></th>
        <td>
          <div class="input-with-suffix">
            <input type="text" name="name" value="鈴木">
            <span class="suffix">様</span>
          </div>
          <div class="required-mark error-message" id="name_error" hidden>※お名前を入力してください</div>

        </td>
      </tr>
      <tr>
        <th>メールアドレス</th>
        <td><input type="email" name="email" value="suzuki@abcd.co.jp"></td>
      </tr>
      <tr>
        <th>電話番号 <span class="required-mark">※必須</span></th>
        <td>
          <input type="tel" name="phone" value="080-9876-5432">
          <div class="required-mark error-message" id="phone_error" hidden>※電話番号を入力してください</div>
        </td>
      </tr>
      <tr>
        <th>土地住所 <span class="required-mark">※必須</span></th>
        <td>
          <input type="text" name="address" value="名古屋市緑区">
          <div class="required-mark error-message" id="address_error" hidden>※土地住所を入力してください</div>
        </td>
      </tr>
      <tr>
        <th>現在の状況等</th>
        <td><textarea name="notes" placeholder="その他ご要望事項などがあればご入力してください。"></textarea></td>
      </tr>
    </table>

    <p>ご紹介先の状況について教えてください。<span class="required-mark">※必須</span></p>
    <div class="radio-group">
      <label><input type="radio" name="situation" checked>所有する空き地の活用方法を検討している</label>
      <label><input type="radio" name="situation">既存の建物が建っているが活用方法を検討している</label>
      <label><input type="radio" name="situation">賃貸物件を所有しているが老朽化に悩んでいる</label>
      <label><input type="radio" name="situation">その他</label>
      <div class="required-mark error-message" id="situation_error" hidden>※状況を選択してください</div>
    </div>

    <p>下記に当てはまる項目がありましたら、選択ください。</p>
    <div class="radio-group">
      <label><input type="radio" name="interest" checked>当社の商品紹介パンフレットが欲しい</label>
      <label><input type="radio" name="interest">図面を提案して欲しい</label>
      <label><input type="radio" name="interest">収支を提案して欲しい</label>
      <div class="required-mark error-message" id="interest_error" hidden>※項目を選択してください</div>
    </div>

    <div class="checkbox-group">
      <label>
        <input type="checkbox" name="consent" id="consent">
        ご紹介いただくことについて、ご紹介先の了承を得ていらっしゃいますか？
        <span class="required-mark">※必須</span>
      </label>
      <div class="required-mark error-message" id="consent_error" hidden>※紹介の了承が必要です</div>
    </div>
  </div>

