body,
button,
input,
select,
textarea {
  font-family: "Hiragino Kaku Gothic ProN", Meiryo, YuGothic, sans-serif;
}

body {
  margin: 0;
	font-size: 3.72vw;
}

#head_nav {
  max-width: 860px;
  margin: 0 auto;
}
#head_nav .back {
	display: block;
	width: 1.5em;
	padding: 0.15em 0 0;
	font-size: 5.58vw;
	line-height: 1.35;
	text-align: center;
}
header {
  max-width: 860px;
	height: 51.1vw;
  padding: 15vw 0 0;
  margin: 0 auto;
  text-align: center;
  background: url(../image/mv.jpg) 0 0 / 100% auto no-repeat;
	box-sizing: border-box;
}
header h1 {
  color: #fff;
  margin: 0;
  padding: 0;
	font-size: 5.12vw;
	font-weight: 600;
	letter-spacing: 0.1em;
}
header h1 hr {
	display: block;
	width: 2em;
	height: 2px;
	margin: 0.5em auto;
	border: none;
	background: #fff;
}
header h1 b {
	font-size: 7.44vw;
}
.container {
  max-width: 860px;
  margin: 0 auto;
  text-align: center;
}
.amount {
  padding: 3.76em 0 0;
}
.reward-subtitle {
	font-size: 3.49vw;
}
.reward-title {
	width: 4em;
  padding: 0.3em 0;
	margin: 0.5em auto 0.5em;
	background: #ab9446;
  color: #fff;
	font-size: 3.96vw;
	letter-spacing: 0.1em;
	line-height: 1.3;
}
.reward-amount {
  font-size: 2rem;
  color: red;
}
.reward-unit {
  font-size: 1rem;
  color: red;
}
.reward {
	width: 78%;
	/*padding: 0 0 0.75em;*/
	margin: 0 auto 1em;
	text-align: center;
}
.reward img {
	width: 100%;
}
.description {
	margin: 0 2.5em;
	padding-left: 1em;
  font-size: 3.02vw;
	text-align: left;
	text-indent: -1em;
	line-height: 1.4;
}
.btns_bg {
	margin: 3em 0 0;
	padding: 3.13em 4.69em;
}
.btns_bg ul li:nth-child(2) {
	margin: 1.3em 0 0;
}
.btns_bg ul li:nth-child(4) {
	margin: 3em 0 0;
}
.btns_bg ul li:nth-child(3) {
	margin: 2.5em 0 0;
}
.link {
	position: relative;
	padding: 0.8em 0.3em 0.8em 0;
	margin: 0 auto;
  font-size: 4.42vw;
  font-weight: 600;
  color: #fff;
  display: block;
	border: 1px solid #fff;
	border-radius: 3em;
}
.link .arrow {
  position: absolute;
	top: 1vw;
	right: 0.8em;
	bottom: 0;
  display: block;
  width: 5.8vw;
  height: 2px;
  margin: auto 0;
  border-radius: 9999px;
  background-color: #fff;
}
.link .arrow::before {
  content: "";
  position: absolute;
  top: calc(50% - 1px);
  right: 0;
  width: 2.5vw;
  height: 2px;
  border-radius: 9999px;
  background-color: #fff;
  transform: rotate(35deg);
  transform-origin: calc(100% - 1px) 50%;
}
.question {
	font-size: 3.95vw;
  font-weight: 600;
	color: #fff;
}
.question object {
	position: relative;
	top: 0.2em;
	display: inline-block;
	width: 1.5em;
  height: 1.5em;
	margin-right: 0.3em;
}
.button {
	position: relative;
  width: 100%;
  padding: 0.8em;
  cursor: pointer;
	font-size: 4.42vw;
  font-weight: 600;
	background: #fff;
  border-radius: 0.5em;
}
.button span {
  display: block;
  margin: 0 0 0.25em;
  font-size: 3.49vw;
  font-weight: 400;
}
.button .arrow {
  position: absolute;
	top: 1vw;
	right: 0.8em;
	bottom: 0;
  display: block;
  width: 5.8vw;
  height: 2px;
  margin: auto 0;
  border-radius: 9999px;
}
.button .arrow::before {
  content: "";
  position: absolute;
  top: calc(50% - 1px);
  right: 0;
  width: 2.5vw;
  height: 2px;
  border-radius: 9999px;
  transform: rotate(35deg);
  transform-origin: calc(100% - 1px) 50%;
}

@media screen and (max-width: 860px) {
  .none_sp {
    display: none;
  }
}

@media screen and (min-width: 861px) {
  .none_pc {
    display: none;
  }
	
	body {
		font-size: 32px;
	}
	#head_nav .back {
		font-size: 48px;
	}
	header {
		height: 440px;
		padding: 129px 0 0;
	}
	header h1 {
		font-size: 44px;
	}
	header h1 b {
		font-size: 64px;
	}
	.reward-subtitle {
		font-size: 30px;
	}
	.reward-title {
		font-size: 34px;
	}
	.description {
		font-size: 26px;
	}
  .link {
    font-size: 38px;
  }
	.link:hover {
		background: rgba(255,255,255,0.25);
	}
	.question:hover,
	.button:hover {
		opacity: 0.8;
	}
	.link .arrow,
	.button .arrow {
		top: 8.6px;
		width: 43px;
	}
	.link .arrow::before,
	.button .arrow::before {
		width: 17.2px;
	}
	.question {
		font-size: 34px;
	}
	.button {
		font-size: 38px;
	}
  .button span {
    font-size: 30px;
  }
}